body {
	text-align: center;
}
.layout {
	width: max-content;
	height: auto;
	margin: auto;
	border: 1px solid black;
	background-color: rgb(182, 236, 236);
	padding: 2rem;
}
button {
	font-size: 18px;
}
.result {
	margin: 1rem auto 1rem auto;

	padding: 1rem;
	width: fit-content;
}
